body {
    font-family: 'Kanit', sans-serif;
    background-image: url("analyse_bg.png");
    background-size: 100%;
    overflow: hidden;
}

.stressgraph {
    transform: rotate(-4.04deg);
    margin-top: 6vw;
    margin-left: 12vw;
}

.stressmemo {
    transform: rotate(+1.82deg);
    margin-top: 3vw;
    margin-left: 40vw;
}
.split {
    display: flex;
}

.header {
    font-size: 24pt;
}

.inner {
    font-size: 16pt;
}

.graph1 {
    margin-left: -50px;
}

.graph2 {
    margin-left: -25px;
    margin-top: 10px;
}

button {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #eb0c0c;
    border: 2px solid #ffffff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 2vw;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #e94040;
    color: white;
}

#memo {
    margin-top: 2vw;
    margin-left: -15vw;
    font-size: 16pt;
    width: 400px;
    height: 620px;
    overflow: scroll;

}