body {
    background-image: url(diary_ai.png);
    background-size: cover; 
    background-position: left top;
    font-family: "Helvetica Neue", Helvetica, 'Kanit', sans-serif;
}

.title {
    margin-left: 1vw;
    font-size: 14pt;

}

textarea {
    margin-left: 54.5vw;
    margin-top: 16vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    bottom: 5vw;
    width: 22vw;
    height: 22vw;
    padding: 1vw 1vw;
    overflow: hidden;
    resize: none;
    font-size: 16pt;
    font-family: 'Kanit', sans-serif;
}

textarea:focus {
    transition-duration: 0.1s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: transparent;
    border-right: transparent;
    outline: 0;
}

.button {
    width: 100px;
    height: 50px;
    border: 2px solid #ffffff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#ok {
    background-color: #4caf50;
    margin-left: 1vw;
    margin-top: 6vw
}

#ok:hover {
    transition-duration: 0.4s;
    background-color: #74c977;
    color: white;
}

#back {
    background-color: #ff8d00;
    margin-left: 65vw;
    margin-top: 6vw
}

#back:hover {
    transition-duration: 0.4s;
    background-color: #fcb45c;
    color: white;
}

/* .paper {
    margin: 3.5vw 11.5vw;
    padding: 1vw 1vw;
    background-color: #ffffff;
    margin-right: 44vw;
    margin-top: 20vw;
   
} */

.flex {
    display: flex;
    align-content: flex-end;
}